@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
:root {
  --base-color: #1e88e5;
  --link-color: #E6981E;
  --back-color: #ffffff;
  --sub-color: #e2c13b;
  --third-color: #995E00;
}
body {
  margin: 0;
}
#app {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  word-break: break-all;
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s;
}
.v-enter,
.v-leave-to {
  opacity: 0;
}
h2 {
  display: table;
  color: var(--base-color);
  padding: 0 1rem .3rem .5rem;
  border-left: .3rem solid var(--base-color);
  border-bottom: .3rem solid var(--base-color);
  border-radius: 0 0 0 1rem;
  margin: 1rem 0;
}
h3 {
  display: table;
  background-color: var(--base-color);
  color: var(--back-color);
  padding: .5rem 1.5rem;
  border-radius: 2rem;

}
a {
  color: var(--link-color);
  text-decoration: none;
  transition: all .2s ease-in;
  padding: 0 .5rem;
  border-radius: 1rem;
  &:hover {
    background-color: var(--link-color);
    color: var(--back-color);
  }
}
.back {
  display: inline-block;
  background-color: var(--link-color);
  color: var(--back-color);
  padding: .5rem 1rem;
  margin: 1rem .5rem;
  border-radius: 3rem;
  &:hover {
    opacity: .7;
  }
  @media screen and (max-width:800px) {
    position: fixed;
    bottom: 10vh;
    right: 5vw;
    font-weight: 800;
  }
}
#caution {
  padding: 0.5rem;
  background-color: var(--sub-color);
  color: var(--back-color);
}

table {
  border-collapse: separate;
  border-spacing: 0 .5rem;
}
th,
td {
  padding: .5rem;
  margin: 0.5rem;
}
th {
  text-align: right;
  color: var(--base-color);
  border-radius: 0 2rem 2rem 0;
  border: 1px solid var(--base-color);
  border-left: transparent;
  white-space: nowrap;
}
ul {
  li {
    margin: 1rem 0;
  }
}
